.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid gray;
    border-radius: 15px;
    gap: 10px;
    text-align: center;
}
.flag_contaienr img{
    width: 100px;
    height: 50px;
    margin: 5px;
}